body {
    font-family: 'Noto Sans JP', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

h2 {
    display: inline-block;
    position: relative;
}

h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 15px;
    display: inline-block;
    width: 4rem;
    height: 3px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #7CC6AB;
}

#contactForm h2:before,
.company-area h2:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    display: inline-block;
    width: 4rem;
    height: 3px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    background-color: #7CC6AB;
}

@media screen and (max-width: 1440px) {
    h2:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0vw;
        display: inline-block;
        width: 4rem;
        height: 3px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
        background-color: #7CC6AB;
    }
    #contactForm h2:before,
    .company-area h2:before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0vw;
        display: inline-block;
        width: 4rem;
        height: 3px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%);
        background-color: #7CC6AB;
    }
}

.recruitHead {
    width: calc(100% - 1px);
    font-size: 32px;
    height: 73px;
    background-color: #f3f3eb;
    margin: 0;
}

.recruitHeadContact {
    width: 21rem;
    max-width: 240px;
    height: 73px;
    background-color: #FA7F0E;
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    float: right;
}

.recruitHeadContactTel {
    max-width: 330px;
    height: 73px;
    background-color: #7CC6AB;
    color: #FFFFFF;
    font-size: 32px;
    text-align: center;
    padding-top: 10px;
    width: 31vw;
    float: right;
    margin-right: -1px;
}

.recruitHeadContactTel .text-1 {
    font-size: 0.3em;
    font-weight: 500;
    height: 5px;
    margin-top: -5px;
}

.recruitHeadContactTel .text-2 {
    font-weight: 900;
    height: 42px;
    padding-top: 0.5vw;
    font-size: 24px;
}

.recruitHeadContactTel .text-3 {
    font-size: 0.3em;
    font-weight: 500;
}

@media screen and (max-width: 1440px) {
    .recruitHeadContactTel {
        height: 73px;
        font-size: 2vw;
        text-align: center;
        padding-top: 1vw;
        width: 31vw;
        float: right;
        margin-right: -1px;
    }
}


/*topcontent*/

.first-view {
    background: url(http://localhost:8001/wp-content/themes/rwiz-jp.com_1/img/recruit/first-view.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 625px;
}

.top-content {
    font-size: 32px;
    padding-top: 11%;
    padding-left: 6%;
    position: absolute;
    z-index: 100;
}

.first-view-grade {
    position: absolute;
    background: linear-gradient(90deg, #FFFFFF 29.69%, rgba(255, 255, 255, 0.839246) 52.08%, rgba(255, 255, 255, 0.11) 69.27%);
    top: 73px;
    width: 100%;
    height: 625px;
}

.jokin {
    z-index: 1;
    position: relative;
    width: 5em;
    max-width: 191px;
    max-height: 191px;
    height: 5em;
    left: 845px;
    top: 107px;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 11px rgba(255, 255, 255, 0.25));
    border-radius: 50%;
    text-align: center;
    font-size: 3em;
    line-height: 1em;
    padding-top: 1.5em;
    font-weight: 700;
    color: #FFF;
}

.top-contact-btn {
    text-align: center;
    width: 480px;
    height: 89px;
    border-radius: 100px;
    background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
    box-shadow: 0px 4px 15px rgb(106 106 106 / 51%);
    color: #FFF;
    max-width: 480px;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    margin-top: 6rem;
}

.to-boshu {
    position: relative;
    background-color: #F3F1EB;
    top: 341px;
    left: 1146px;
    width: 240px;
    height: 112px;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1.5em;
    color: #333333;
    border-radius: 1em;
    box-shadow: 0px 6px 11px rgb(68 68 68 / 38%);
    padding-top: 1em;
}

.top-drawer {
    max-width: 897px;
    position: relative;
    top: 35rem;
}

@media screen and (max-width: 1440px) {
    .first-view {
        height: 45vw;
    }
    .top-content {
        font-size: 2.2vw;
        padding-top: 11%;
        padding-left: 6%;
        position: absolute;
        z-index: 100;
    }
    .first-view-grade {
        height: 45vw;
    }
    .jokin {
        width: 10vw;
        height: 10vw;
        left: 60%;
        top: 15%;
        font-size: 2vw;
        line-height: 1em;
        padding-top: 2.5vw;
        border: 0.2em solid;
    }
    .top-contact-btn {
        width: 32vw;
        height: 6vw;
        font-size: 2vw;
        margin-top: 3vw;
        line-height: 6vw;
    }
    .top-drawer {
        width: 60vw;
        position: absolute;
        top: 48vw;
    }
    .to-boshu {
        top: 25vw;
        left: 79vw;
        width: 15vw;
        height: 7vw;
        font-size: 1.5vw;
        line-height: 2vw;
        padding-top: 2vw;
    }
}

.footer-drawer {
    position: relative;
    width: 895px;
    left: 540px;
}

@media screen and (max-width: 1440px) {
    .footer-drawer {
        position: relative;
        width: 60vw;
        left: 38vw;
    }
}


/*problems*/

.problems-area {
    margin-top: 10em;
    margin-bottom: 10em;
}

.problems-area h2 {
    text-align: center;
    color: #7CC6AB;
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
}

.lp-caption {
    font-weight: 700;
    font-size: 40px;
    line-height: 70px;
}

.problem-row .card-title {
    color: #333333;
    height: 2.5em;
    font-weight: 400;
    font-size: 20px;
}

.problem-row img {
    width: 122px
}

.problem-card-image {
    margin-top: 1vw
}

.problem-row .col-3:not(:last-child) {
    border-right: 3px dashed #888888;
}

.problem-row .card {
    border: none;
}

@media screen and (max-width: 1440px) {
    .problems-area {
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
    .problems-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .lp-caption {
        font-size: 2.5vw;
        font-weight: 700;
        line-height: 2em;
    }
    .problem-row .card-title {
        font-size: 1.5vw;
        color: #333333;
        height: 2.5em;
    }
    .problem-row img {
        width: 9vw;
    }
    .problem-card-image {
        margin-top: 1vw
    }
}


/*features*/

.tryangle-img {
    margin-bottom: -12em;
}

.features-area {
    background-color: #F3F1EB;
    padding-bottom: 2vw;
}

.feature-caption {
    top: -15px;
    width: 840px;
    margin: 0 auto;
    color: #7CC6AB;
    position: relative;
    background: #FFFFFF;
    border: 5px solid #7CC6AB;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 25%);
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
    height: 93px;
}

.features-area h2 {
    text-align: center;
    color: #7CC6AB;
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
    margin-top: 2em;
}

.feature-title {
    margin-left: 118px;
    margin-top: 45px;
    color: #333333;
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    background: linear-gradient(transparent 60%, #FA7F0ECC 60%);
    width: fit-content;
}

.feature-sentence {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    margin-left: 118px;
    margin-top: 1.5em;
    color: #333333;
    width: 38em;
}

.feature-num-left {
    background-position-x: 6em;
    background-position-y: 3em;
    background-size: 13em;
}

.feature-num-right {
    background-position-x: 55em;
    background-position-y: 3em;
    background-size: 15em;
}

.feature-sentence-notice {
    font-size: 1.4em;
    width: 46em;
}

@media screen and (max-width: 1440px) {
    .features-area {
        background-color: #F3F1EB;
        padding-bottom: 2vw;
    }
    .feature-caption {
        top: 2px;
        height: 7vw;
        padding: 1.5vw;
        font-size: 2.2vw;
        line-height: 3vw;
        width: 60%;
    }
    .features-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
        margin-top: 8vw;
    }
    .feature-title {
        font-size: 2.5vw;
        font-weight: 800;
        margin-left: 6vw;
        margin-top: 3vw;
        color: #333333;
    }
    .feature-sentence {
        font-size: 1.1vw;
        font-weight: 400;
        margin-left: 6vw;
        margin-top: 1.5vw;
        color: #333333;
        line-height: 1.7em;
        width: 48vw;
    }
    .feature-num-left {
        background-position-x: 3em;
        background-position-y: 3em;
        background-size: 9vw;
    }
    .feature-num-right {
        background-position-x: 40vw;
        background-position-y: 3em;
        background-size: 10vw;
    }
    .feature-sentence-notice {
        font-size: 1vw;
        width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .feature-caption {
        top: 55px;
    }
    .features-area h2 {
        margin-top: 12vw;
    }
}

.whvc-area {
    background-color: #FFF;
}

.whvc-area h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    color: #7CC6AB;
    margin-top: 30px;
}

.whvc-col {
    height: 550px;
}

.whvc-title {
    position: relative;
    width: 187px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    background-color: #7CC6AB;
    color: #FFFFFF;
    border-radius: 29.5px;
    z-index: 10;
    font-weight: 700;
    font-size: 24px;
    line-height: 55px;
    margin-top: -270px;
}

.whvc-img {
    position: relative;
    width: 216px;
    margin: 0 auto;
    margin-top: 4em;
    z-index: 10;
}

.whvc-square {
    background-color: #F3F1EB;
    height: 262px;
    width: 375px;
    position: relative;
    z-index: 0;
    margin: 0 auto;
    top: 25px;
    border-radius: 30px;
}

.whvc-caption {
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.whvc-sentence {
    width: 22em;
    margin: 15px auto;
    height: 6em;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.whvc-last-sentence {
    width: 70%;
    margin: 0 auto;
    border: 3px solid #7CC6AB;
    padding: 18px;
    color: #FFFFFF;
    background-color: #7CC6AB;
    text-align: center;
    height: 120px;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;
}

@media screen and (max-width: 1440px) {
    .whvc-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
        margin-top: 5vw;
    }
    .whvc-col {
        height: 38vw;
        width: 38vw;
    }
    .whvc-title {
        position: relative;
        width: 15vw;
        height: 2em;
        margin: 0 auto;
        text-align: center;
        background-color: #7CC6AB;
        color: #FFFFFF;
        border-radius: 29.5px;
        z-index: 10;
        font-weight: 700;
        font-size: 2vw;
        line-height: 2em;
        margin-top: -20vw;
    }
    .whvc-img {
        position: relative;
        width: 15vw;
        margin: 0 auto;
        margin-top: 4em;
        z-index: 10;
    }
    .whvc-square {
        background-color: #F3F1EB;
        height: 19vw;
        width: 28vw;
        position: relative;
        z-index: 0;
        margin: 0 auto;
        top: 1vw;
        border-radius: 30px;
    }
    .whvc-caption {
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        font-size: 1.6vw;
        font-weight: 800;
    }
    .whvc-sentence {
        width: 22em;
        margin: 15px auto;
        height: 6em;
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 1.5em;
    }
    .whvc-last-sentence {
        width: 70%;
        margin: 0 auto;
        border: 3px solid #7CC6AB;
        padding: 18px;
        color: #FFFFFF;
        background-color: #7CC6AB;
        text-align: center;
        height: 5em;
        font-weight: 700;
        font-size: 2vw;
        line-height: 1.5em;
    }
}

.voice-area {
    background-color: #F3F1EB;
    padding-bottom: 3vw;
}

.voice-area h2 {
    text-align: center;
    color: #7CC6AB;
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
}

.staff-1 {
    background-position-x: 25em;
    background-position-y: 1em;
    background-size: 25em;
    margin-left: 165px;
    height: 45em;
}

.staff-2 {
    background-position-x: 80em;
    background-position-y: 1em;
    background-size: 25em;
    height: 35em;
}

.staff-img {
    border-radius: 50%;
    width: 300px;
}

.staff-title {
    position: relative;
    top: -13em;
    left: 10em;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    width: 20em;
}

.staff-title2 {
    position: relative;
    top: -350px;
    left: 630px;
    letter-spacing: 0.2rem;
    width: 20em;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
}

.staff-sentence {
    position: relative;
    top: -21em;
    left: 23em;
    width: 21em;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.staff-sentence2 {
    position: relative;
    top: -324px;
    left: 634px;
    width: 19em;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.staff-block {
    position: relative;
    top: -3em;
    left: 102em;
    width: fit-content;
}

.staff-name {
    margin-top: 15px;
    margin-left: 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
}

.staff-age {
    margin-left: 110px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

@media screen and (max-width: 1440px) {
    .voice-area {
        background-color: #F3F1EB;
        padding-bottom: 3vw;
    }
    .voice-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .staff-1 {
        background-position-x: 13vw;
        background-position-y: 2vw;
        background-size: 15vw;
        height: 30vw;
        margin-left: 15vw;
    }
    .staff-2 {
        background-position-x: 57vw;
        background-position-y: 2vw;
        background-size: 15vw;
        height: 30vw;
    }
    .staff-img {
        border-radius: 50%;
        width: 18vw;
    }
    .staff-title {
        position: relative;
        top: -22vw;
        left: 16vw;
        font-size: 1.6vw;
        font-weight: 800;
        line-height: 2vw;
        letter-spacing: 0.2rem;
        width: 47vw;
    }
    .staff-title2 {
        position: relative;
        top: -19vw;
        left: 38vw;
        font-size: 1.6vw;
        font-weight: 800;
        line-height: 2vw;
        letter-spacing: 0.2rem;
        width: 47vw;
    }
    .staff-sentence {
        position: relative;
        top: -21vw;
        left: 21vw;
        font-size: 1.1vw;
        line-height: 1.5em;
    }
    .staff-sentence2 {
        position: relative;
        top: -18vw;
        left: 39vw;
        font-size: 1vw;
        line-height: 2rem;
        font-size: 1.1vw;
        line-height: 1.5em;
    }
    .staff-block {
        position: relative;
        top: 1vw;
        left: 67vw;
        width: 20vw;
    }
    .staff-name {
        margin-top: 1vw;
        font-size: 1.5vw;
        margin-left: 4.5vw;
    }
    .staff-age {
        font-size: 1.3vw;
        margin-left: 5.2vw;
    }
}

@media screen and (max-width: 900px) {
    .staff-1 {
        margin-left: 15vw;
    }
    .staff-2 {
        height: 32vw;
    }
}

.requruite-area {
    border: 17px solid #c21500;
    border-image: linear-gradient(to bottom, rgba(124, 198, 171, 1) 0%, rgba(124, 198, 171, 0.4) 100%);
    border-image-slice: 1;
}

.requruite-area h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    color: #7CC6AB;
}

.requruite-btn {
    position: relative;
    width: 404px;
    text-align: center;
    color: #333333;
    background-color: #FFFFFF;
    padding: 10px;
    border: solid 1px #333333;
    border-radius: 77px;
    z-index: 10;
    cursor: pointer;
    font-weight: 700;
    font-size: 28px;
}

.requruite-btn.active {
    color: #FFF;
    background-color: #7CC6AB;
    border: none;
}

.requruite-btn-arrow {
    position: relative;
    top: -5em;
    left: 18em;
}

.requruite-btn-arrow-left {
    position: relative;
    top: -5em;
    left: 47em;
}

.requruite-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
}

.requruite-text-bold {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.requruite-btn-arrow-top {
    transform: rotate(330deg);
    width: 55px;
    z-index: 0;
}

.requruite-under {
    border-bottom: 10px solid #7CC6AB;
    width: fit-content;
    margin: 0 auto;
}

.requruite-info-table {
    width: 961px;
    margin: 0 auto;
    border: solid 1px #333333;
    border-radius: 20px;
    border-collapse: separate;
    padding: 20px;
    margin-bottom: 50px;
}

.requruite-info-table .requruite-table-head {
    width: 185px;
    background-color: #333333;
    text-align: center;
    margin: 0 auto;
    color: #FFF;
    border-radius: 72px;
    padding: 15px;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

.requruite-info-table tr {
    height: 90px;
}

.requruite-info-table th {
    width: 30%;
}

.requruite-info-table td {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
}

@media screen and (max-width: 1440px) {
    .requruite-area {
        border: 17px solid #c21500;
        border-image: linear-gradient(to bottom, rgba(124, 198, 171, 1) 0%, rgba(124, 198, 171, 0.4) 100%);
        border-image-slice: 1;
    }
    .requruite-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .requruite-btn {
        position: relative;
        width: 27vw;
        text-align: center;
        font-size: 1.8vw;
        font-weight: 800;
        color: #333333;
        background-color: #FFFFFF;
        padding: 1.2vw;
        border: solid 1px #333333;
        border-radius: 50px;
        z-index: 10;
        cursor: pointer;
    }
    .requruite-btn.active {
        color: #FFF;
        background-color: #7CC6AB;
        border: none;
    }
    .requruite-btn-arrow {
        position: relative;
        top: -2.5vw;
        left: 12vw;
    }
    .requruite-btn-arrow-left {
        position: relative;
        top: -2.5vw;
        left: 68%;
    }
    .requruite-btn-arrow-top {
        transform: rotate(330deg);
        width: 3vw;
        z-index: 0;
    }
    .requruite-text {
        font-weight: 200;
        font-size: 1.6vw;
        line-height: 30px;
    }
    .requruite-text-bold {
        font-weight: 700;
        font-size: 1.6vw;
        line-height: 30px;
    }
    .requruite-info-table {
        width: 65vw;
        margin: 0 auto;
        border: solid 1px #333333;
        border-radius: 2vw;
        border-collapse: separate;
        padding: 2vw;
        margin-bottom: 3vw;
    }
    .requruite-info-table .requruite-table-head {
        font-size: 1.7vw;
        font-weight: 500;
        width: 13vw;
        background-color: #333333;
        text-align: center;
        margin: 0 auto;
        color: #FFF;
        border-radius: 5vw;
        padding: 0.8vw;
    }
    .requruite-info-table tr {
        height: 6vw;
    }
    .requruite-info-table th {
        width: 20vw;
    }
    .requruite-info-table td {
        font-size: 1.2vw;
        line-height: 1.5em;
    }
}

.contact-area.bg-image {
    height: 491px;
    background-size: 100%;
}

.contact-area.bg-color {
    height: 491px;
    background: #F3F1EB6B;
    padding-top: 40px;
}

.contact-area .contact-btn {
    width: 510px;
    margin: 0 auto;
    background: #FFFFFF;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
    box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
    border-radius: 100px;
    padding: 20px;
}

.contact-text-middle-bold {
    font-weight: 700;
    font-size: 24px;
}

.contact-text-middle {
    font-weight: 400;
    font-size: 24px;
}

.contact-text-large-bold {
    font-weight: 700;
    font-size: 36px;
}

.under-white {
    margin: 0 auto;
    line-height: 52px;
    box-shadow: 0px 8px 10px rgb(106 106 106 / 15%);
    background: linear-gradient(transparent 60%, #fffdfccc 60%);
    width: fit-content;
}

@media screen and (max-width: 1440px) {
    .contact-area.bg-image {
        height: 32vw;
        background-size: 100%;
    }
    .contact-area.bg-color {
        height: 32vw;
        background: #F3F1EB6B;
        padding-top: 2vw;
    }
    .contact-area .contact-btn {
        font-size: 1.5vw;
        font-weight: 400;
        width: 28vw;
        margin: 0 auto;
        background: #FFFFFF;
        color: #FFFFFF;
        font-weight: 700;
        background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        border-radius: 100px;
        padding: 1.5vw;
        margin-top: 2vw !important;
    }
    .contact-text-middle-bold {
        font-weight: 700;
        font-size: 1.5vw;
    }
    .contact-text-middle {
        font-weight: 400;
        font-size: 1.5vw;
    }
    .contact-text-large-bold {
        font-weight: 700;
        font-size: 2vw;
    }
}

.flow-area {
    background-color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
}

.flow-area h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 80px;
    text-align: center;
    color: #7CC6AB;
}

.flow-block {
    height: 200px;
    background-color: #F3F1EB;
    box-shadow: 2px 3px 11px rgba(147, 147, 147, 0.25);
    padding: 20px 10px;
    width: 360px;
    border-radius: 20px;
}

.flow-title {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.flow-sentence {
    width: 20em;
    font-weight: 400;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 35px;
}

.flow-arrow {
    margin-top: 85px;
    text-align: center;
}

.flow-arrow-img {
    width: 35px;
}

@media screen and (max-width: 1440px) {
    .flow-area {
        background-color: #FFF;
        padding-bottom: 10vw;
    }
    .flow-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .flow-block {
        height: 14vw;
        background-color: #F3F1EB;
        box-shadow: 2px 3px 11px rgb(147 147 147 / 25%);
        padding: 2vw 1vw;
        width: 24vw;
        border-radius: 1vw;
    }
    .flow-title {
        font-size: 1.5vw;
        font-weight: 700;
        text-align: center;
    }
    .flow-sentence {
        margin-top: 1vw;
        font-size: 1vw;
    }
    .flow-arrow {
        margin-top: 5vw;
        text-align: center;
    }
    .flow-arrow-img {
        width: 1.5vw
    }
}

.form-area h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #7CC6AB;
}

.form-area {
    background-color: #F3F1EB;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-top: -87px;
}

@media screen and (max-width: 1440px) {
    .form-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .form-area {
        background-color: #F3F1EB;
        padding-top: 6vw;
        padding-bottom: 6vw;
        margin-top: -14vw;
    }
}

.contact-button {
    margin: 4em auto 0;
    width: 360px;
}

.contact-wrapper {
    width: 961px;
}

.contact-button::before {
    position: absolute;
    content: "";
    background: url(../img/Polygon9.png);
    top: 42px;
    left: 300px;
    width: 137%;
    background-size: 0.9vw;
    background-repeat: no-repeat;
    height: 30px;
}

.contact-button input {
    background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
    box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
    border-radius: 50px;
    padding: 18px;
    font-weight: 700;
    font-size: 24px;
}

.contact-form:nth-child(n + 2) {
    margin-top: 2.2rem;
}

.contact-form label {
    font-weight: 700;
    font-size: 20px;
    width: 473px;
}

.contact-form input {
    padding: 6px 10px;
    font-size: 20px;
}

.contact-form textarea {
    font-size: 20px;
}

.contact-form input[type=checkbox] {
    transform: scale(1.5);
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label input {
    width: 40px;
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label {
    width: 100%
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item .wpcf7-list-item-label {
    font-size: 20px;
    font-weight: 400;
    color: inherit;
}

.wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item {
    width: 100%;
}

@media screen and (max-width: 1440px) {
    .contact-button {
        margin: 4em auto 0;
        width: 360px;
    }
    .contact-wrapper {
        width: 85vw;
    }
    .contact-button::before {
        position: absolute;
        content: "";
        background: url(../img/Polygon9.png);
        top: 45px;
        left: 300px;
        width: 10vw;
        background-size: 14px;
        background-repeat: no-repeat;
        height: 30px;
    }
    .contact-button input {
        background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        border-radius: 50px;
        padding: 18px;
        font-weight: 700;
        font-size: 1.5vw;
    }
    .contact-form:nth-child(n + 2) {
        margin-top: 2.2rem;
    }
    .contact-form label {
        font-weight: 700;
        font-size: 1.5vw;
        width: 473px;
    }
    .contact-form input {
        padding: 6px 10px;
        font-size: 1.5vw;
    }
    .contact-form textarea {
        font-size: 1.5vw;
    }
    .contact-form input[type=checkbox] {
        transform: scale(1.5);
    }
    .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label input {
        width: 40px;
    }
    .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item label {
        width: 100%
    }
    .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item .wpcf7-list-item-label {
        font-size: 1.5vw;
        font-weight: 400;
        color: inherit;
    }
    .wpcf7-form-control-wrap .wpcf7-form-control .wpcf7-list-item {
        width: 100%;
    }
}

.company-area h2 {
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    color: #7CC6AB;
}

.company-area {
    background-color: #FFF;
    padding-top: 50px;
}

.company-row {
    margin-left: 120px;
    margin-top: 40px;
}

.company-title {
    color: #7CC6AB;
    font-weight: 700;
    font-size: 20px;
}

.campany-info {
    font-weight: 400;
    font-size: 16px;
}

@media screen and (max-width: 1440px) {
    .company-area h2 {
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .company-area {
        background-color: #FFF;
        padding-top: 3vw;
    }
    .company-title {
        color: #7CC6AB;
        font-weight: 700;
        font-size: 1.2vw;
    }
    .campany-info {
        font-size: 1vw;
    }
    .company-row {
        margin-left: 5vw;
        margin-top: 2vw;
    }
}

.footer-area {
    margin-top: 3vw;
    height: 65px;
    background: #F3F1EB;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-top: 25px;
}

.to-button {
    cursor: pointer;
}

.footerFix {
    width: 1440px;
    position: fixed;
    top: calc(100vh - 125px);
    z-index: 9999;
}

.footerFix .contact-btn {
    font-size: 20px;
    font-weight: 400;
    width: 210px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
    box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
    border-radius: 20px;
    padding: 9px;
    margin-right: 5px;
    height: 85px;
}

.footerFix .tel-btn {
    font-size: 20px;
    font-weight: 400;
    width: 210px;
    color: #FFFFFF;
    font-weight: 700;
    background: linear-gradient(180deg, #72CCAC 0%, #65BB9C 100%);
    box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
    border-radius: 20px;
    padding: 9px;
    height: 85px;
}

@media screen and (max-width: 1440px) {
    .footerFix {
        width: 100%;
        position: fixed;
        z-index: 9999;
    }
}


/* こっからスマホ　699px以下はスマホ扱い */

@media screen and (max-width: 699px) {
    h2:before {
        bottom: -2vw;
        height: 2px;
    }
    .recruitHead {
        width: 100%;
        font-size: 32px;
        height: 50px;
        background-color: #f3f3eb;
    }
    .head-logo-img {
        margin-left: 10px;
        height: 50px;
        min-width: 63px;
    }
    .recruitHeadContactTel {
        height: 50px;
        background-color: #7CC6AB;
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;
        width: 40vw;
        float: right;
        margin-right: -1px;
        padding-top: 5px;
    }
    .first-view {
        background: url(../img/recruit/first-view_sp.png);
        background-repeat: no-repeat;
        width: 100%;
        background-size: 100%;
        height: 132vw;
    }
    .first-view-grade {
        position: absolute;
        background: linear-gradient(0deg, #FFFFFF 20.69%, rgba(255, 255, 255, 0.839246) 48.08%, rgba(255, 255, 255, 0) 82.27%);
        top: 11vw;
        width: 100%;
        height: 132vw;
    }
    .jokin {
        z-index: 1;
        position: absolute;
        width: 28vw;
        height: 28vw;
        left: 13vw;
        top: 39vw;
        border: 2px solid #FFFFFF;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 11px rgba(255, 255, 255, 0.25));
        border-radius: 50%;
        text-align: center;
        font-size: 6vw;
        line-height: 7vw;
        padding-top: 7vw;
        font-weight: 800;
        color: #FFF;
    }
    .top-content {
        font-size: 32px;
        top: 64vw;
        left: 7vw;
        position: absolute;
        z-index: 100;
        padding: 0;
    }
    .top-drawer {
        width: 100vw;
        position: absolute;
        top: 138vw;
    }
    .problems-area {
        margin-top: 10vw;
        margin-bottom: 6vw;
    }
    .problems-area h2 {
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .card-body {
        flex: 1 1 auto;
        padding: 2rem 0rem;
    }
    .lp-caption {
        margin-top: 3vw;
        font-size: 6vw;
        font-weight: 700;
        line-height: 7vw;
    }
    .problem-row img {
        width: 78px;
    }
    .problem-row .card-title {
        font-size: 12px;
        color: #333333;
        height: 2.5em;
    }
    .problem-card-image {
        margin-top: 15px;
    }
    .feature-caption {
        width: 85vw;
        margin: 0 auto;
        border: 2.5px solid #7CC6AB;
        padding: 2vw;
        color: #7CC6AB;
        background-color: #FFFFFF;
        position: relative;
        top: -13vw;
        font-size: 4vw;
        height: 12.5vw;
    }
    .features-area h2 {
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
        margin-top: -1vw;
    }
    .feature-title {
        width: fit-content;
        font-size: 5vw;
        font-weight: 800;
        margin-left: 6vw;
        margin-top: 5vw !important;
        color: #333333;
        background: linear-gradient(transparent 60%, #FA7F0ECC 60%);
        line-height: 29px;
    }
    .feature-sentence {
        width: 78vw;
        font-size: 3.5vw;
        font-weight: 400;
        margin-left: 6vw;
        margin-top: 3vw;
        color: #333333;
    }
    .feature-img {
        width: 82vw;
        margin: 3vw auto;
        margin-bottom: 5vw;
        border-radius: 5vw;
    }
    .feature-head {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1vw;
        border-radius: 5vw 5vw 0 0;
    }
    .feature-first {
        background-position-x: 4vw;
        background-position-y: 4vw;
        background-size: 22vw;
    }
    .feature-second {
        background-position-x: 59vw;
        background-position-y: 5vw;
        background-size: 26vw;
    }
    .feature-third {
        background-position-x: 2vw;
        background-position-y: 6vw;
        background-size: 29vw;
    }
    .contact-button::before {
        position: absolute;
        content: "";
        background: url(../img/Polygon9.png);
        top: 2.7vw;
        left: 12vw;
        background-size: 0.9vw;
        background-repeat: no-repeat;
        height: 1vw;
    }
    .whvc-area h2 {
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
        margin-top: 5vw;
    }
    .whvc-title {
        position: unset;
        width: 38vw;
        height: 50px;
        text-align: center;
        background-color: #FFFFFF;
        color: #333333;
        font-weight: 500;
        padding: 0;
        padding-top: 7px;
        font-size: 1.7em;
        border-radius: 50px;
        box-shadow: 0px 2px 4px rgba(153, 153, 153, 0.25);
        border: 1px solid #888888;
    }
    .whvc-title.active {
        position: unset;
        width: 38vw;
        height: 50px;
        text-align: center;
        background-color: #7CC6AB;
        color: #FFFFFF;
        font-weight: 500;
        padding: 0;
        padding-top: 7px;
        font-size: 1.7em;
        border-radius: 50px;
        box-shadow: 0px 2px 4px rgb(153 153 153 / 25%);
        border: 0;
    }
    .whvc-detail-area {
        margin: 0;
        background-color: #F5F5F5;
        border-radius: 5vw;
        padding: 5vw 0;
    }
    .whcv-img-sp {
        width: 42vw;
    }
    .whvc-caption-sp {
        margin-top: 3vw;
        font-size: 4vw;
        font-weight: 700;
    }
    .whvc-sentence-sp {
        text-align: left;
        width: 70vw;
        margin: 0 auto;
        margin-top: 2vw;
        font-size: 2vw;
    }
    .whvc-last-sentence-sp {
        text-align: center;
        font-size: 4vw;
        font-weight: 700;
        margin-top: 8vw;
        margin-bottom: 8vw;
    }
    .voice-area {
        padding-bottom: 10vw;
    }
    .voice-area h2 {
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .staff-img {
        border-radius: 50%;
        width: 40vw;
    }
    .staff-title-sp {
        font-size: 4vw;
        font-weight: 700;
        margin-top: 2vw;
    }
    .staff-sentence-sp {
        width: 85vw;
        margin: 0 auto;
        text-align: left;
        margin-top: 2vw;
        font-size: 3.2vw;
    }
    .staff-1 {
        background-position-x: 5vw;
        background-position-y: 0vw;
        background-size: 33vw;
        height: 40vw;
        margin-left: 0;
        margin-bottom: 7vw;
    }
    .staff-2 {
        background-position-x: 47vw;
        background-position-y: 0vw;
        background-size: 37vw;
        height: 38vw;
    }
    .staff-name {
        font-size: 3vw;
        line-height: 1.5em;
    }
    .staff-age {
        font-size: 1.3vw;
        margin-left: 1.5em;
    }
    .requruite-area {
        border: 10px solid #c21500;
        border-image: linear-gradient(to bottom, rgba(124, 198, 171, 1) 0%, rgba(124, 198, 171, 0.4) 100%);
        border-image-slice: 1;
    }
    .requruite-area h2 {
        margin-top: 8vw;
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .requruite-btn {
        position: relative;
        width: 40vw;
        text-align: center;
        font-size: 16px;
        font-weight: 800;
        padding: 10px;
        border-radius: 50px;
        z-index: 10;
        cursor: pointer;
        height: 45px;
    }
    .requruite-btn-arrow-left {
        position: relative;
        top: -2.5vw;
        left: 54%;
    }
    .requruite-btn-arrow {
        position: relative;
        top: -2.5vw;
        left: 40%;
    }
    .requruite-btn-arrow-top {
        width: 4vw;
    }
    .requruite-under {
        border-bottom: 7px solid #7CC6AB;
    }
    .requruite-info-table {
        width: 85vw;
        margin: 0 auto;
        border: solid 1px #333333;
        border-radius: 6vw;
        border-collapse: separate;
        padding: 2vw;
        margin-bottom: 3vw;
    }
    .requruite-info-table .requruite-table-head {
        font-size: 2vw;
        font-weight: 500;
        background-color: #333333;
        text-align: center;
        width: 17vw;
        margin: 0 auto;
        color: #FFF;
        border-radius: 5vw;
        padding: 0.3vw;
    }
    .requruite-info-table th {
        width: 30%;
    }
    .requruite-info-table tr {
        height: 10vw;
    }
    .requruite-info-table td {
        font-size: 2vw;
        line-height: 2em;
    }
    .under-white {
        line-height: 9vw;
    }
    .contact-area.bg-image {
        height: 105vw;
        background-size: 100%;
    }
    .contact-area.bg-color {
        height: 105vw;
        background: #F3F1EB6B;
        padding-top: 2vw;
    }
    .contact-area .contact-btn-web {
        font-size: 1.5vw;
        font-weight: 400;
        width: 68vw;
        margin: 0 auto;
        background: #FFFFFF;
        color: #FFFFFF;
        font-weight: 700;
        background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        border-radius: 100px;
        padding: 3.5vw;
    }
    .contact-area .contact-btn-tel {
        font-size: 1.5vw;
        font-weight: 400;
        width: 68vw;
        margin: 0 auto;
        background: #FFFFFF;
        color: #FFFFFF;
        font-weight: 700;
        background: linear-gradient(180deg, #72CCAC 0%, #65BB9C 100%);
        box-shadow: 0px 5px 9px rgba(106, 106, 106, 0.25);
        border-radius: 100px;
        padding: 3.5vw;
    }
    .flow-area h2 {
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .flow-block-sp {
        width: 90vw;
        background: #F3F1EB;
        border-radius: 5vw;
        margin: 0 auto;
        height: 37vw;
    }
    .flow-title {
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
        padding-top: 5vw;
    }
    .flow-sentence {
        font-size: 3.5vw;
        width: 80%;
        margin: 0 auto;
        margin-top: 3vw;
    }
    .flow-arrow-img {
        width: 7vw;
        margin: 3vw;
    }
    .footer-drawer_sp {
        margin-top: 10vw;
    }
    .form-area h2 {
        margin-top: 10vw;
        font-weight: 400;
        font-size: 5vw;
        line-height: 4vw;
        text-align: center;
        color: #7CC6AB;
    }
    .contact-form label {
        font-size: 4vw;
        font-weight: 700;
        width: 100%;
    }
    #contactForm h2:before,
    .company-area h2:before {
        bottom: -2vw;
        height: 2px;
    }
    .contact-button {
        margin: 4em auto 0;
        width: 210px;
    }
    .contact-button input {
        background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        border-radius: 10vw;
        padding: 3vw;
        font-size: 3vw;
    }
    .contact-button::before {
        position: absolute;
        content: "";
        background: url(../img/Polygon9.png);
        top: 6.5vw;
        left: 43vw;
        background-size: 2vw;
        background-repeat: no-repeat;
        height: 4vw;
        width: 5vw;
    }
    .form-area {
        background-color: #F5F5F5;
        padding-top: 6vw;
        padding-bottom: 10vw;
        margin-top: -15vw;
    }
    .company-img {
        border-radius: 6vw;
        width: 90%;
    }
    .company-block {
        width: 90%;
        margin: 5vw auto;
        border: 0.5px solid #888888;
        border-radius: 4vw;
        padding: 3vw 0;
    }
    .company-title {
        color: #7CC6AB;
        font-weight: 700;
        font-size: 4vw;
    }
    .footer-area {
        margin-top: 3vw;
        height: 13vw;
        background: #F5F5F5;
        margin-bottom: 55px;
        padding-top: 5vw;
    }
    .footerFix-sp {
        width: 100%;
        position: fixed;
        top: calc(100vh - 55px);
        z-index: 9999;
        margin: 0;
    }
    .footerFix-sp .contact-btn {
        font-size: 14px;
        line-height: 1em;
        font-weight: 400;
        color: #FFFFFF;
        font-weight: 700;
        background: linear-gradient(180deg, #FF8D23 0%, #E97710 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        padding: 3px;
        height: 55px;
    }
    .footerFix-sp .tel-btn {
        font-size: 14px;
        line-height: 1em;
        font-weight: 400;
        color: #FFFFFF;
        font-weight: 700;
        background: linear-gradient(180deg, #72CCAC 0%, #65BB9C 100%);
        box-shadow: 0px 4px 16px rgb(106 106 106 / 50%);
        padding: 3px;
        height: 55px;
    }
}